
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>2016.05.26 homework</title>
</head>
<body>
	<ul>
		<li>@Html.ActionLink("Задание 1. Таблица пользователей", "Index", "User")</li>
		<li>@Html.ActionLink("Задание 2. Курсы валют", "Index", "Rate")</li>
		<li>@Html.ActionLink("Задание 3. Стоимость заправки", "Index", "GasStation")</li>
	</ul>
</body>
</html>
